//Tablet styles

@media only screen and (min-width: $breakpoint-md){

    //General
    .global-page-title {
        text-align: center;
        width: 90%;
    }

    //Article feeds
    .standard-loop {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        &__article {
            width: 46%;
            margin: $spacing-lg 2%;
            img {
                width: 100%;
            }
        }
    }

    .category-menu {
        &__list {
            background: transparent;
            justify-content: center;
            padding: $spacing-md;
            li {
                width: auto;
                margin: 0 $spacing-md;
            }
        }
    }

    .submit-article {
        &__heading {
            text-align: center;
        }
    }

    //Static pages
    .contact-form {
        width: 60%;
    }

    //Single Articles
    .single-long-form {
        &__article {
            width: 90%;
            margin: 0 auto;
            margin-top: $mobile-header-height + $spacing-xl;
        }
        &__header {
            height: 50vh;
            background-attachment: initial;
        }
        .body-text {
            padding: 0;
        }
    }

    .article-info-box {
        width: 90%;
        margin: $spacing-md auto;
        &__title {
            max-width: 100%;
        }
        &__content {
            padding: $spacing-md 0;
        }
    }

    .author-box {
        &__content {
            display: flex;
            justify-content: flex-start;
        }
        &__text-wrap {
            width: 45%;
            margin-left: $spacing-xxl;
            p {
                margin-bottom: $spacing-md;
            }
        }

    }


    //Header and nav
    .main-nav {
        width: 280px;
    }

    .article-contents {
        width: 250px;
    }
    

}